@using Authority.Services.Dto
@model ProductDto

@{
    ViewBag.Title = "Details";
}

<script type="text/javascript">
    function togglePublish(productId) {
        var requestUrl = '/products/publish/' + productId;

        $.ajax({
            method: 'PUT',
            url: requestUrl
        }).done(function(response) {
            var publishButtonStyle = 'btn btn-' + (response === 'True' ? 'danger' : 'success');
            var $publishButton = $('#publishButton');
            $publishButton.removeClass();
            $publishButton.addClass(publishButtonStyle);
        });
    };

    function getApiKey() {
        var requestUrl = '/products/apikey/' + '@Model.Id';

        $.ajax({
            method: 'GET',
            url: requestUrl
        }).done(function(response) {
            $('#apiKey').val(response);
        });
    };
</script>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<h2>@Model.Name</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotificationEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotificationEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivationUrl) 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivationUrl)<label>/{activationCode}</label>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>

        <dt>
            Client Secret
        </dt>
        <dd>
            <input id="apiKey" value=""/>
            <button class="btn btn-warning" onclick="getApiKey();">Get Secret</button>
        </dd>
    </dl>

    <hr/>

    <div>
        @foreach (PolicyDto policy in Model.Policies)
        {
            <h4>@policy.Name</h4>
            <h3>Claims:</h3>

            foreach (ClaimDto claim in policy.Claims)
            {
                <h4>@claim.Issuer</h4>
                <h4>@claim.Type</h4>
                <h4>@claim.Value</h4>
                <br/>
            }

            <hr/>
        }
    </div>

    <div>
        @{
            string style = "btn btn-" + (Model.IsPublic ? "danger" : "success");
            <button id="publishButton" class="@style" onclick="togglePublish('@Model.Id');">Publish</button>
        }
    </div>
</div>
