@using Authority.Web.Infrastructure.HtmlHelpers
@model IEnumerable<Authority.Services.Dto.ProductSimpleDto>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    function togglePublish(sender, productId) {
        var requestUrl = '/products/publish/' + productId;

        $.ajax({
            method: 'PUT',
            url: requestUrl
        }).done(function (response) {
            var publishButtonStyle = 'btn btn-' + (response === 'True' ? 'danger' : 'success');
            var $publishButton = $(sender);
            $publishButton.removeClass();
            $publishButton.addClass(publishButtonStyle);
        });
    };
</script>

<h2>My Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
        </th>
        <th>
            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.RestLink("Edit", "products/edit/{0}", item.Id)
        </td>
        <td>
            <div>
                @{
                    string style = "btn btn-" + (item.IsPublic ? "danger" : "success");
                    <button id="publishButton" class="@style" onclick="togglePublish(this,'@item.Id');">Publish</button>
                }
            </div>
        </td>
    </tr>
}

</table>
